body{
 text-align: center;
  background: linear-gradient(#004D40 0%, #4FC3F7 100%);
}

h1{
  font-size: 40px;
  text-shadow: 2px 2px  #FFEBEE;
    font-family: 'Comforter', cursive;
}

#Bio{
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.menu{
    list-style: none;
    font-family: cursive;
    float: center;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.links{
    color: burlywood;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.links:hover{
    background-color: crimson;
}

